@font-face
{
    font-family: 'robotoreg';
    src: url(media/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'robotomed';
    src: url(media/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'unisansheavy';
    src: url('media/Uni Sans Heavy Italic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'unisansthin';
    src: url('media/Uni Sans Thin.otf');
    font-weight: normal;
    font-style: normal;
}
body
{
  background: #F2F6F8;
  margin: 0;
}
#statusbar
{
  position: fixed;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
}
#statusbar a
{
  text-decoration: none;
  color: #000;
}
#divider
{
  height: 100px;
  width: 1px;
  margin-left: 4px;
  background: #999999;
}
#home
{
  width: 77%;
  margin-left: auto;
  margin-right: auto;
}
#titlelogo
{
  display: inline-block;
  color: #000;
  font-family: robotoreg;
  font-size: 20px;
  padding: 30px 20px;
  text-decoration: none;
}
#home ul
{
  list-style-type: none;
  float: right;
  padding-top: 16px;
}
#home ul li
{
  display: inline;
}
#home ul li a
{
  color: rgba(0,0,0,0.7);
  font-family: Helvetica;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  margin: 0px 15px;
  border-bottom: 1px solid rgba(0,0,0,0);
  transition:All 0.2s ease-in-out;
-webkit-transition:All 0.2s ease-in-out;
-moz-transition:All 0.2s ease-in-out;
-o-transition:All 0.2s ease-in-out;
}
#home ul li a:hover
{
  color: #000;
  border-bottom: 1px solid #000;
}
#home ul li #contactbut
{
  background: #000;
  color: #f4f4f4;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px 20px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
margin-left: 10px;
}
#home ul li #contactbut:hover
{
  background: #0002ff;
  color: #FFF;
}
#maincontent
{
  background: url('media/back.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
#level2
{
  height: 100vh;
  background: #FFF;
}
#mainpitch
{
  display: block;
  color: #000;
  font-family: unisansheavy, robotomed;
  font-size: 55px;
  margin-top: 50px;
  text-align: left;
  width: 77%;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  line-height: 90px;
  text-align: center;
}
#subpitch
{
  display: block;
  color: #555;
  font-family: robotoreg;
  font-size: 17px;
  margin-top: 75px;
  text-align: left;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 25px;
  padding-left: 20px;
  line-height: 30px;
  border-left: 3px solid #d5d5d5;
}
#highlight
{
  padding: 20px 10px 11px 10px;
  border-bottom: 1px solid #000;
  color: #000;
  transition:All 0.1s ease-in-out;
-webkit-transition:All 0.1s ease-in-out;
-moz-transition:All 0.1s ease-in-out;
-o-transition:All 0.1s ease-in-out;
cursor: default;
white-space: nowrap;
}
#highlight:hover
{
  background: #FFF;
  color: #000;
}
#subhighlight
{
  color: #000 !important;
}
#bubbles
{
  width: 400px;
  float: right;
  position: relative;
  top: -200px;
  right: 100px;
  opacity: 0.9;
  z-index: 2;
}
#buttonholder
{
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#actionbutton
{
  background: #000;
  color: #f4f4f4;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px 20px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
  margin-left: 10px;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 30px;
  transition:All 0.2s ease-in-out;
-webkit-transition:All 0.2s ease-in-out;
-moz-transition:All 0.2s ease-in-out;
-o-transition:All 0.2s ease-in-out;
}
#scrolldown
{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Helvetica;
  color: #6f6f6f;
  padding: 5px 9px;
  font-size: 13px;
  border: 1px solid #e3e1e1;
  text-align: center;
  border-radius: 40px;
}
#services
{
  background: #FCFDFD;
}
#h2
{
  display: block;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-family: unisansheavy, robotomed;
  font-size: 30px;
}
#h3
{
  display: block;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  color: #555;
  font-family: robotoreg;
  font-size: 16px;
  line-height: 30px;
}
#services #h2
{
  padding-top: 130px;
}
#services table
{
  width:77%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -120px;
}
#services table tr td
{
  padding-bottom: 30px;
}
#services #table2 tr td
{
  width: 50%;
  vertical-align: top;
}
#services table tr td #servicediv
{
  padding: 10px;
  text-align: center;
}
#services table tr td #servicediv #icon
{
  width: 40px;
  height: 40px;
  filter: invert(1);
  border-radius: 50px;
  position: relative;
  top: 25px;
}
#services table tr td #servicediv #srcbannerimg1
{
  width: 100%;
  background: url('media/igor-miske-174209.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 400px;
  transition:All 0.35s ease-in-out;
  -webkit-transition:All 0.35s ease-in-out;
  -moz-transition:All 0.35s ease-in-out;
  -o-transition:All 0.35s ease-in-out;
}
#services table tr td #servicediv #srcbannerimg2
{
  width: 100%;
  background: url('media/rawpixel-com-252130.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 250px;
  transition:All 0.35s ease-in-out;
  -webkit-transition:All 0.35s ease-in-out;
  -moz-transition:All 0.35s ease-in-out;
  -o-transition:All 0.35s ease-in-out;
}
#services table tr td #servicediv #srcbannerimg3
{
  width: 100%;
  background: url('media/cristian-escobar-223377.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 250px;
  transition:All 0.35s ease-in-out;
  -webkit-transition:All 0.35s ease-in-out;
  -moz-transition:All 0.35s ease-in-out;
  -o-transition:All 0.35s ease-in-out;
}
#services table tr td #servicediv #srcbannerimg4
{
  width: 100%;
  background: url('media/luca-bravo-205341.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  height: 400px;
  transition:All 0.35s ease-in-out;
  -webkit-transition:All 0.35s ease-in-out;
  -moz-transition:All 0.35s ease-in-out;
  -o-transition:All 0.35s ease-in-out;
}
#services table tr td #servicediv #srcbannerimg1:hover, #services table tr td #servicediv #srcbannerimg2:hover,
#services table tr td #servicediv #srcbannerimg3:hover, #services table tr td #servicediv #srcbannerimg4:hover
{
  background-position: center 5%;
  filter: grayscale();
}
#services table tr td #servicediv #whitebox
{
  border-radius: 4px;
  padding-top: 30px;
}
#services table tr td #servicediv #whitebox #title
{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  font-family: unisansheavy, robotomed;
}
#services table tr td #servicediv #whitebox #subtitle
{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-family: Helvetica, robotoreg;
  color: #acacac;
}
#services table tr td #servicediv #whitebox #paragraph
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: robotoreg;
  line-height: 30px;
  color: #555;
  font-size: 16px;
}
#services #table2 tr td #servicediv #whitebox #paragraph
{
  width: 90%;
}
#learnmore-web
{
  background: #000;
  color: #f4f4f4;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px 20px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
  margin-left: 10px;
  display: inline-block;
  margin-top: 40px;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 30px;
  transition:All 0.2s ease-in-out;
  -webkit-transition:All 0.2s ease-in-out;
  -moz-transition:All 0.2s ease-in-out;
  -o-transition:All 0.2s ease-in-out;
}
#learnmore-web:hover
{
  background: #0002ff;
  color: #FFF;
  box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.2);
  transform: translateY(-10px);
}
#work
{
  background: #F2F5F8;
  background-image: url('media/back_flip.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
#work table
{
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: center;
}
#work table tr td
{
  width: 33.3%;
  text-align: center;
  opacity: 0.95;
  transition:All 0.2s ease-in-out;
  -webkit-transition:All 0.2s ease-in-out;
  -moz-transition:All 0.2s ease-in-out;
  -o-transition:All 0.2s ease-in-out;
  padding-bottom: 25px;
}
#work table tr #firstparent
{
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url('media/deeprelax2.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(25px);
  width: 96%;
  box-shadow: 0px 2px 12px 3px rgba(0,0,0,0.25);
  height: 60vh;
  position: relative;
  border-radius: 9px;
  transition:All 0.15s ease-in-out;
  -webkit-transition:All 0.15s ease-in-out;
  -moz-transition:All 0.15s ease-in-out;
  -o-transition:All 0.15s ease-in-out;
}
#work table tr #secondparent
{
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url('https://i.pinimg.com/736x/cd/90/d9/cd90d9de63fa2c8e5c5e7117e27b5c18--gritty-portrait-photography-studio-photography.jpg');
  background-size: cover;
  background-position: center;
  width: 96%;
  box-shadow: 0px 2px 12px 3px rgba(0,0,0,0.25);
  height: 60vh;
  position: relative;
  border-radius: 9px;
  transition:All 0.15s ease-in-out;
  -webkit-transition:All 0.15s ease-in-out;
  -moz-transition:All 0.15s ease-in-out;
  -o-transition:All 0.15s ease-in-out;
}
#work table tr #thirdparent
{
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url('media/vozzapp2.jpg');
  background-size: cover;
  background-position: bottom;
  width: 96%;
  box-shadow: 0px 2px 12px 3px rgba(0,0,0,0.25);
  height: 60vh;
  position: relative;
  border-radius: 9px;
  transition:All 0.15s ease-in-out;
  -webkit-transition:All 0.15s ease-in-out;
  -moz-transition:All 0.15s ease-in-out;
  -o-transition:All 0.15s ease-in-out;
}
#work table tr td:hover
{
  opacity: 1;
}
#work table tr #firstparent:hover, #work table tr #secondparent:hover, #work table tr #thirdparent:hover
{
  box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.2);
  transform: translateY(-10px);
}
#work table tr #holder
{
  position: absolute;
  bottom: 0;
}
#work table tr #worktitle
{
  padding: 10px 30px;
  color: #FFF;
  font-family: robotomed;
  font-size: 27px;
  display: block;
  text-align: left;
}
#work table tr #worktype
{
  padding: 0px 30px 10px 30px;
  color: #fff;
  font-family: robotoreg;
  font-size: 16px;
  display: block;
  text-align: left;
}
#work table tr #workparagraph
{
  padding: 5px 30px 30px 30px;
  color: #c7c7c7;
  font-family: robotoreg;
  font-size: 12px;
  display: block;
  text-align: left;
  line-height: 20px;
}
#team
{
  background: #F2F5F8;
  background-image: url('media/back_flip.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  top: -130px;
}
#team #h2
{
  padding-top: 100px;
}
#team table
{
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 100px;
  border-collapse: collapse;
}
#team table td
{
  margin: 0;
  padding: 0;
}
#team img
{
  width: 100%;
  max-width: 100%;
  transition:All 0.35s ease-in-out;
  -webkit-transition:All 0.35s ease-in-out;
  -moz-transition:All 0.35s ease-in-out;
  -o-transition:All 0.35s ease-in-out;
}
#team #name
{
  padding: 40px 15px 10px 15px;
  color: #000;
  font-family: robotomed;
  font-size: 23px;
  display: block;
  text-align: center;
}
#team #para
{
  padding: 10px 15px 30px 15px;
  color: #555;
  font-family: robotoreg;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
}
#contactpane
{
  text-decoration: none;
}
#blocktextholder
{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  margin-top: -30px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 70px;
  transition:All 0.2s ease-in-out;
-webkit-transition:All 0.2s ease-in-out;
-moz-transition:All 0.2s ease-in-out;
-o-transition:All 0.2s ease-in-out;
}
#blocktextholder:hover
{
  background: #0002ff;
  box-shadow: 0px 6px 12px 6px rgba(0,0,0,0.2);
  transform: translateY(-10px);
}
#blocktext
{
  display: block;
  font-family: robotomed;
  font-size: 30px;
  color: #FFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 95px;
}
#footer
{
  display: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 80px;
}
#footer table
{
  width: 100%;
  margin: 0;
  padding: 0;
}
#footer table td
{
  vertical-align: top;
}
#footer #addr
{
  color: #000;
  font-family: robotoreg;
  font-size: 16px;
  line-height: 25px;
}
#footer #subitem
{
  color: #000;
  font-family: robotoreg;
  font-size: 16px;
  display: inline-block;
  padding-top: 5px;
}
#contactbody
{
  background: #FFF;
}
#contactcontent #pagetitle
{
  font-family: robotomed;
    font-size: 40px;
    display: block;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    text-align: center;
    line-height: 70px;
}
#contactcontent form
{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #dddbdb;
}
#contactcontent #label
{
  font-family: robotoreg;
    font-size: 14px;
    display: inline-block;
    padding: 0px 10px;
    margin-top: 40px;
}
#contactcontent .titlelabel
{
  display: block !important;
  text-align: center;
}
#contactcontent #contactinput
{
  background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #000;
    font-family: robotoreg;
    font-style: italic;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    width: 150px;
}
#contactcontent #contactsubmit
{
  padding: 8px 13px;
  font-family: robotoreg;
  font-size: 14px;
  color: #FFF;
  background: #000;
  border: none;
  margin-top: 40px;
  display: inline-block;
  cursor: pointer;
}
#contactcontent #subitemholder
{
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  text-align: center;
}
#contactcontent a
{
  text-decoration: none;
  color: #000;
}
#contactcontent .label2
{
  padding: 0px 20px 0px 20px;
}
textarea:focus, input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome */
  color: #bababa;
}
:-ms-input-placeholder { /* IE 10+ */
color: #bababa;
}
::-moz-placeholder { /* Firefox 19+ */
color: #bababa;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
color: #bababa;
  opacity: 1;
}
@media only screen and (max-device-width: 500px)
{
  #home
  {
    width: 100%;
  }
  #titlelogo
  {
    text-align: left;
    font-size: 47px;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 55px;
    padding-left: 80px;
    max-height: 99999px;
    padding-right: 0;
    color: #2c2c2c;
  }
  #home ul
  {
    display: none;
  }
  #maincontent
  {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #mainpitch
  {
    width: 85%;
    line-height: 145px;
    padding: 0;
    color: #000;
    padding-top: 60px;
    padding-bottom: 70px;
    font-size: 120px;
    text-align: left;
  }
  #highlight
  {
    position: relative;
    top: 75px;
    padding: 0;
  }
  #subpitch
  {
    margin-top: 180px;
    font-size: 41px;
    max-height: 99999px;
    line-height: 61px;
    width: 85%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
    z-index: 999;
    border: none;
    left: 0px;
    line-height: 90px;
  }
  #bubbles
  {
    position: relative;
    float: none;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    margin-top: 64px;
    width: 500px;
    opacity: 1;
  }
  #h2
  {
    padding-top: 150px;
    letter-spacing: 2px;
    font-size: 65px;
    max-height: 99999px;
  }
  #h3
  {
    padding-top: 60px;
    font-size: 41px;
    line-height: 90px;
    max-height: 99999px;
  }
  #services table
  {
    top: 90px;
    width: 100%;
  }
  #services table tr td #servicediv
  {
    padding: 0;
  }
  #services table tr td #servicediv #icon
  {
    width: 110px;
    height: 110px;
  }
  #services table tr td #servicediv #whitebox #title
  {
    font-size: 45px;
    margin-top: 50px;
  }
  #services table tr td #servicediv #whitebox #subtitle
  {
    max-height: 99999px;
    font-size: 33px;
  }
  #services table tr td #servicediv #srcbannerimg1, #services table tr td #servicediv #srcbannerimg4
  {
    margin-top: 95px;
    height: 500px;
  }
  #services table tr td #servicediv #whitebox #paragraph
  {
    width: 90%;
    max-height: 99999px;
    font-size: 37px;
    line-height: 85px;
  }
  #learnmore-web
  {
    font-size: 35px;
    max-height: 99999px;
    padding: 35px 60px;
    border-radius: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #services #table2 tr td
  {
    width: 100%;
    display: block;
  }
  #services table tr td #servicediv #srcbannerimg2, #services table tr td #servicediv #srcbannerimg3
  {
    height: 500px;
  }
  #team
  {
    top: 0px;
    padding-top: 60px;
  }
  #team table td
  {
    display: block;
    width: 100%;
    padding-top: 100px;
  }
  #teambio
  {
    display: none;
  }
  #team img
  {
    filter: grayscale() brightness(1.3);
  }
  #contactpane
  {
    margin-top: 150px;
    margin-bottom: 100px;
    display: block;
  }
  #blocktextholder
  {
    width: 77%;
    margin-bottom: 0px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  #blocktext
  {
    max-height: 99999px;
    font-size: 42px;
    width: 77%;
    font-family: robotoreg;
  }
}
